{% extends 'base.html.twig' %}

    {% block slider %}
        <div id="slider">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="background-image: url('{{ asset('img/slide1.jpg') }}')">
                        <div class="dark-shadow">
                            <div class="carousel-caption">
                                <div class="container">
                                    <a class="category" href="/"><i class="fa fa-random"></i> Random</a>

                                    <h3>Flying to the US is becoming more inconvenient as TSA bans uncharged devices
                                        from
                                        flights</h3>

                                    <p>Curabitur ut malesuada elit. Nullam tortor mi</p>
                                    <hr>
                                    <ul class="meta_data">
                                        <li class="author">
                                            <a class="url fn" href="/"><span
                                                        class="fa fa-user"></span>mostafamabrouk</a>
                                        </li>
                                        <li class="time">
                                            <time class="value updated" datetime="2012-08-20">
                                                <span class="fa fa-calendar-o"></span>August 20, 2012
                                            </time>
                                        </li>
                                        <li class="comment">
                                            <a href="/"><span class="fa fa-comment-o"></span>20</a>
                                        </li>
                                        <li class="like">
                                        <span class="like" data-post_id="20">
                                            <span class="fa fa-heart-o"></span>
                                            <span class="count">0</span>
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <div class="content">

            {% for i in 0..8 %}
                    <div class="item-block col col-lg-4">
                        <div class="inner">
                            <div class="img" style="background-image: url('{{ asset('img/slide1.jpg') }}')"></div>
                            <div class="inner-text">
                                <a class="category" href="/"><i class="fa fa-random"></i> Random</a>
                                <a class="title" href="/">Fly Directly Into a Fireworks Display With This Drone
                                    Footage</a>

                                <p class="desc">Cras sit amet libero eros, in ultricies lorem. Nunc et odio neque.
                                    Maecenas vehicula interdum hendrerit. Integer hendrerit orci ullamcorper neque
                                    pellentesque feugiat. Aliquam magna metus</p>
                                <hr>
                                <ul class="meta_data">
                                    <li class="author">
                                        <a class="url fn" href="/"><span class="fa fa-user"></span>mostafamabrouk</a>
                                    </li>
                                    <li class="comment">
                                        <a href="/"><span class="fa fa-comment-o"></span>19</a>
                                    </li>
                                    <li class="like">
                                <span class="post-like">
                                    <span class="fa fa-heart-o"></span>
                                    <span class="count">3</span>
                                </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
            <div id="pagination">
                <div class="">
                    <ul class="pagination">
                        <li><span class="page-numbers current"><span class="num">1</span></span></li>
                        <li><a class="page-numbers" href="/"><span class="num">2</span></a></li>
                        <li><a class="page-numbers" href="/"><span class="num">3</span></a></li>
                        <li><a class="next page-numbers" href="/"><span class="num fa fa-angle-right"></span></a></li>
                    </ul>
                </div>
        </div>


    {% endblock content %}




